.filters {
    width: 200px;
    border-radius: 5px;
    height: 180px;
    padding: 5px;
    box-shadow: 0px 2px 6px var(--grey-4);
}

.filters>ul {
    padding: 5px;
    height: 130px;
    overflow-y: auto;
    list-style-type: none;
}

.searchFilter {
    position: relative;
    cursor: text;
}

.searchFilter>input {
    width: 90%;
    margin: 5px 8px;
    padding: 5px 5px 5px 28px;
    outline: none;
    border: none;
    background-color: var(--grey-5);
    border-radius: 5px;
    color: var(--secondary);
}

.searchFilter:before {
    position: absolute;
    left: 18px;
    top: -4px;
    background-color: transparent;
    content: "\26B2";
    transform: rotate(-45deg);
    font-weight: bold;
    color: var(--blue);
    font-size: var(--font-header);
}

.filters>ul li {
    padding: 5px;
}

.filter>input {
    padding: 5px;
    padding: 0;
    appearance: none;
    outline: none;
    vertical-align: text-bottom;
    width: 1.2rem;
    height: 1.2rem;
    border: 3px solid var(--blue);
    border-radius: 5px;
    transition: var(--all-03s);
}

.filter>input:checked {
    background-color: var(--blue);
    color: var(--primary);
}

.filter>input:checked:after {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--font-detail);
    font-weight: bold;
    content: '\2713';
    color: var(--white);
}

.filter>span {
    margin-left: 5px;
}

.searchFilter {
    width: 100%;
}

.filterTitle {
    font-size: var(--font-detail);
    padding: 5px;
}